/* CSS reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Nav bar */
header {
    height: 100px;
}

/* Background colour  */
body {
    background-color: #FAE5CE;
}

/* div container styles  */
.container {
    max-width: 80%;
    margin: auto;
    /* max-width: 1500px; */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'PT Serif', serif;
    font-weight: bold;
    border-bottom: 1px solid #7A5E40;
}

/* bliss logo top left nav bar  */
.logo {
    font-size: 48px;
    font-weight: 700;
    font-style: italic;
    color: #7A5E40;
}

/* style for nav links list  */
.nav-links {
    display: flex;
    list-style: none;
}

/* styles for individual list items  */
.nav-link {
    margin: 0 0 0 60px;
    font-size: 24px;
}

/* remove nav link text decoration  */
nav a {
    text-decoration: none;
    color: #7A5E40;
}

/* landing content formatting  */
main {
    display: flex;
    margin: 125px 0;
    justify-content: space-between;

}

/* landing h1 style  */
h1 {
    font-size: 48px;
    font-style: italic;
    font-weight: bold;
    color: #7A5E40;
    /* line-height: 68px; */
    font-family: 'PT Serif', serif;
    /* font-size: clamp(32px, 56px, 56px); */

}

.intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* landing paragraph styling  */
.landing-paragraph {
    font-family: 'PT Serif', serif;
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
    max-width: 100%;
    /* margin-top: 15px; */
}

/* positioning for landing text - h1 and paragraph */
.landing-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%%;
}

.line-break {
    width: 40px;
    height: 4px;
    background-color: #7A5E40;
    border: none;
    border-radius: 2px;
    margin: 20px 0 25px 0;
}



.primary-cta {
    background-color: #FF754E;
    color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 22.5px;
    height: 45px;
    text-align: center;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;


}

.secondary-cta {
    background-color: #FAE5CE;
    color: #7A5E40;
    border: 1px solid #7A5E40;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 22.5px;
    height: 45px;
    text-align: center;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.get-started {
    width: 165px;
    margin-top: 20px;
}

.learn-more {
    width: 165px;
    margin: 20px 0 0 10px;
    font-weight: normal;

}

.landing-cta-wrapper {
    display: flex;
}

h2 {
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
    color: #7A5E40;
    font-family: 'PT Serif', serif;
}

.why-bliss-content h2 {
    text-align: center;
}

.h2-line-break {
    margin: 20px auto 35px;
}

.why-bliss-card {
    background-color: #F7E5D1;
    height: 525px;
    border-radius: 45px;
    border: none;
    box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.25);
    display: flex;
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    color: black;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 50px;
    /* margin-bottom: 170px; */

}

.why-bliss-card img {
    width: 50%;
}

.why-bliss-paragraph {
    /* width: 50%; */
    margin: 0 20px;
}

.dotted-line {
    width: 170px;
    border-top: 5px dotted #7A5E40;
    transform: rotate(90deg);
    margin: 85px auto;

}

.newsletter-line-break {

    margin: 50px auto 35px;

}

.newsletter-container .landing-paragraph {
    text-align: center;
    margin: auto;
    width: 60%;
    margin-bottom: 20px;
}

.newsletter-form {
    display: flex;
    justify-content: center;
}

.text-field {
    color: #9A9A9A;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 22.5px;
    height: 45px;
    border: none;
    padding-left: 22.5px;
}

.newsletter-email {
    width: 325px;
}

.newsletter-cta {
    width: 105px;
    margin-left: 10px;
}


.social-link-button {
    width: 40px;
}

.footer-social-link:nth-child(2) {
    margin: 0 20px;
}



.page-footer {
    border-top: 1px solid #7A5E40;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.landing-graphic {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-graphic img {
    width: 90%;

}

.landing-intro {
    flex: 1;
}

@media (max-width: 1200px) {
    h1 {
        font-size: 38px;
    }

    .landing-paragraph {
        font-size: 16px;
    }


}

@media (max-width: 1024px) {
    .why-bliss-card {
        font-size: 18px;
    }
}

@media (max-width: 955px) {

    body {
        text-align: center;
    }

    .intro {
        flex-direction: column;
    }

    .line-break {
        margin: 20px auto 25px;
    }

    .landing-cta-wrapper {
        justify-content: center;
    }

    main {
        margin: 75px 0;
    }

    .landing-graphic img {
        width: 70%;
        margin-top: 40px;

    }

    .nav-link {
        margin: 0 0 0 30px;
        font-size: 20px;
    }
}

@media (max-width: 768px) {



    main {
        margin: 50px 0;
    }

    .landing-graphic img {
        width: 70%;
        margin-top: 40px;

    }

    .nav-link {
        margin: 10px;
        font-size: 14px;
    }

    .logo {
        font-size: 24px;
    }

    .landing-cta-wrapper {
        flex-direction: column;
        align-items: center;

    }

    .learn-more {
        margin-left: 0;
    }

    .why-bliss-card {
        background-color: #F7E5D1;
        height: auto;
        border-radius: 20px;
        border: none;
        box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        font-family: 'PT Sans', sans-serif;
        font-size: 14px;
        color: black;
        align-items: center;
        justify-content: space-evenly;
        padding: 15px;
        /* margin-bottom: 170px; */

    }

    .why-bliss-card img {
        width: 50%;
        margin-bottom: 10px;
    }

    .why-bliss-card:nth-of-type(2) {
        flex-direction: column-reverse;
    }

    .dotted-line {
        width: 100px;
        border-top: 5px dotted #7A5E40;
        transform: rotate(90deg);
        margin: 50px auto;

    }

    h2 {
        font-size: 24px;
    }

    .newsletter-container .landing-paragraph {

        width: 90%;
    }

    .newsletter-form {
        flex-direction: column;
        align-items: center;
    }

    .newsletter-email {
        width: 100%;
        max-width: 325px;
        margin-bottom: 10px;
    }

}



/* .input-container {
    display: flex;
    gap: 10px;
    flex-basis:  700px;
}

.contact-name-email {
    flex: 1;
    /* min-width: 300px; */
/* } */

.input-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

  }
  
  .contact-name-email {
    flex: 1;
  }
  
  @media only screen and (max-width: 768px) {
    .contact-name-email {
      flex-basis: 100%;
    }
  }
  


.contact-paragraph {
width: 100%;
margin: 10px 0;
height: 250px;
}


/* @media (max-width: 768px) {

    .input-container {
        /* display: flex; */
        /* flex-wrap: wrap;
    }



} */